---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
---

<a href={`/blog/${post.id}`} class="group cursor-pointer flex flex-col">
    <div
        class="relative aspect-[16/11] rounded-[2.5rem] overflow-hidden mb-8 bg-brand-card border border-white/5 shadow-2xl"
    >
        <div
            class="absolute inset-0 bg-gradient-to-t from-brand-dark via-transparent to-transparent z-10 opacity-90 group-hover:opacity-70 transition-opacity duration-500"
        >
        </div>

        <img
            src={post.data.image}
            alt={post.data.title}
            class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <div class="absolute top-6 left-6 z-20">
            <span
                class="px-4 py-1.5 rounded-xl bg-black/40 backdrop-blur-xl border border-white/10 text-brand-primary text-[10px] font-black uppercase tracking-widest shadow-xl"
            >
                {post.data.category}
            </span>
        </div>
    </div>

    <div class="px-2">
        <h3
            class="text-2xl md:text-3xl font-black mb-4 text-white group-hover:text-brand-primary transition-colors duration-300 leading-[1.1] uppercase italic tracking-tighter"
        >
            {post.data.title}
        </h3>

        <p
            class="text-slate-400 text-base leading-relaxed line-clamp-2 group-hover:text-slate-300 transition duration-500"
        >
            {post.data.description}
        </p>

        <div
            class="mt-8 flex items-center gap-3 text-brand-primary text-[10px] font-black uppercase tracking-[0.2em] group-hover:translate-x-2 transition-transform duration-500"
        >
            Explorar Post
            <Icon name="lucide:arrow-right" class="w-4 h-4" />
        </div>
    </div>
</a>
